.contact {
  margin-top: 100px;
  padding-bottom: 100px;
}

.content {
  margin-top: 25px;
  padding-bottom: 100px;
}


.container {
  padding-left: 35px;
  padding-right: 35px;
}

.pagination-link.is-current {
  background-color: #00d1b2;
  border: 1px solid #00d1b2;
}

.excerpt {
  margin-top: -20px;
}


.content h3{
  margin-top: 0px;
}


a {
  color: #363636;
}

p {
  font-size: 14px;
}

.subtitle {
  font-size: 12px;
}


.title {
  font-size: 20px;
  color: #616161;
}

.title a {
  font-size: 20px;
    color: #616161;
}

.navbar-item {
  font-size: 10px;
}

.label {
  font-size: 12px;
}


.date {
  font-size: 14px;
  padding-bottom: 10px;
  color: #BDBDBD;
}

.colored-link {
  color: purple;
}

.colored-link:hover {
  text-decoration: underline;
  color: purple;
}

hr {
  border-bottom: 1px solid #cecece;
}
.date-title {
  font-size: 14px;
  padding-bottom: 5px;
  color: #BDBDBD;
}


.hero-title {
  font-size: 28px;
}

.message-created {
  margin-top:25px;
}
