.hero.is-success {

 background: linear-gradient(to bottom right, #f1f2b5, #135058);
}


.card {
  border-radius: 10px;
  width: 25%;
  margin: auto;
}

.button.is-primary {
  background-color: #3c91e6;
}

.button.is-primary:hover {
  background-color: #3c91e6;
}
