.is-light {
    background-image: url('/4.jpg');

    background-size: cover;
}


p {
    width:50%;
    margin:auto;
}




.special {
    font-family: 'Satisfy', cursive;
}

.hero.is-light a.navbar-item:hover, .hero.is-light a.navbar-item.is-active, .hero.is-light .navbar-link:hover, .hero.is-light .navbar-link.is-active {
    
    border-bottom: 1px solid black;
    background: none;
}