

.primary-bg {
    background-image: url('/bg3.jpg');
    background-size: cover;
}

.primary-text {
    padding-left: 25px;
    padding-right: 25px;
}


.card {
    margin:25px;
}

.display {
    margin-top: 150px;
}

.box {
    margin-top:150px;
    border-radius: 0;

}

